<div class="header">
    <h1>Erm...Any idea for a title at this position?</h1>
</div>
<div class="guideline">
    <h4>This should have been an explanation or guideline to show how to use our web</h4>
</div>
<div class="body__container">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" accept="image/png, image/jpeg">
    </div>
</div>